name: Build Linux
on: 
  push:
    branches: [ main ]
jobs:
  build:
    name: "Build"
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Install linux dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev libstdc++-12-dev
          sudo apt-get install -y libasound2-dev
          sudo apt-get install -y libfuse2
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version-file: pubspec.yaml
      - name: Install Flutter dependencies
        run: flutter pub get
      - name: Create debug symbols directory
        run: mkdir -p out/linux
      - name: Run tests
        run: flutter test
      - name: Build
        env:
          NO_OPUS_OGG_LIBS: 1
        run: flutter build linux --obfuscate --split-debug-info=out/linux
      - name: Upload bundle
        uses: actions/upload-artifact@v4
        with:
          name: app-linux-x86_64
          path: build/linux/x64/release/bundle/
      - name: Upload debug symbols
        uses: actions/upload-artifact@v4
        with:
          name: debug-symbols-linux
          path: out/linux
          retention-days: 7